<div class="form-container">
  <form (ngSubmit)="buscarCiudad()">
    <div class="input-container">
      <input type="text" id="ciudad" [(ngModel)]="nombreCiudad" name="nombreCiudad" required>
    </div>
    <button type="submit">Buscar</button>
  </form>

  <div *ngIf="temperatura !== undefined">
    <p>Temperatura: {{ temperatura }}°C</p>
    <p>Descripción del tiempo: {{ descripcionTiempo }}</p>
  </div>
  <div *ngIf="temperatura === undefined">
    <p>No se encontraron datos para la ciudad ingresada.</p>
  </div>
</div>
