/* Estilos para el contenedor del formulario */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos para el input */
.input-container {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  text-align: center;
}

input {
  font-size: 13px;
  color: #4d4d4d;
  background-color: transparent;
  outline: none;
  border: 1px solid #4d4d4d;
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;

  &:invalid + label{
    transform: translateY(0);
  }

  &:focus{
    border-color: #4d4d4d;

    & + label{
      color: #4d4d4d;
      transform: translateY(-20px);
    }
  }

}